#title {
    width: 66%;
    display: inline-block;
}

#author {
    width: 31%;
    display: inline-block;
    text-align: right;
}

h2 {
    margin-left: 3%;
}

#versionDisplay {
    margin-left: 2%;
}

main {
    margin-left: 2%;
}

.hidden {
    display: none;
}

#giErrorText {
    display: none;
    color: rgb(200, 19, 19)
}
